body{ background-color:#d8bfd8}
h1{color:black;
   text-align: center;
   font-size:36pt;}
h2{color:blue;
   text-align: center;
   font-size:26pt;}
h3{color:red;
   text-align: center;
   font-size:20pt;}
p{text-align: center;}